@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #333333;
  --secondary-color: #4f4f4f;
  --footer-color: #a9a9a9;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  height: 100vh;
}

.header {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-lg);
}

.header_left h1 {
  font-family: "PT Serif", serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.045em;
}

.header_right {
  width: 400px;
}

.header_right h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;

  text-transform: uppercase;
  padding-bottom: var(--space-md);
}

.header_right p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 0 24%;
}

.card:nth-child(2),
.card:nth-child(5) {
  margin: 0 var(--space-xl);
  transform: translateY(var(--space-xl));
}

.card__top {
  display: flex;
}

.card__image img {
  width: 100%;
}

.card__title {
  font-family: "PT Serif", serif;
  font-size: 12px;
  font-weight: 400;

  text-transform: uppercase;
  padding-left: var(--space-sm);
  writing-mode: vertical-rl;
}

.card__name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-xl);
}

.footer {
  align-self: center;
}

.footer a {
  text-decoration: none;
  color: var(--footer-color);
}

.footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--footer-color);

  margin-bottom: var(--space-lg);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    height: 100vh;
  }

  .header {
    display: block;
    padding-left: 0;
  }

  .header_left h1 {
    padding-bottom: var(--space-lg);
  }

  .header_right {
    width: 100%;
    padding-bottom: 0;
  }

  .header_right h5 {
    padding-bottom: var(--space-sm);
  }

  .header_right p {
    font-size: 14px;
    padding-bottom: 0;
  }

  .team {
    display: flex;
  }

  .card {
    flex: 1 0 40%;
  }

  .card:nth-child(2),
  .card:nth-child(5) {
    margin: 0;
    transform: none;
  }

  .card:nth-child(odd) {
    padding-right: var(--space-sm);
  }

  .card:nth-child(even) {
    padding-left: var(--space-sm);
    transform: translateY(var(--space-lg));
  }

  .card__title {
    font-size: 10px;
    padding-left: 0;

    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  .card__name {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: var(--space-xl);
  }
}
